* {
    margin: 0;
    padding: 0;
}


footer {
    background: #9A8C98;
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}

.main-content {
    background: #C9ADA7;
}

.aside-content {
    background: #F2E9E4;
}


